.chakra-ui-light{
  background-image: url("https://www.dmoe.cc/random.php") !important;
  background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position-x:center;
}
 
    *{
        margin: 0;
        padding: 0;
    }
html,body,#text-center,#content,ul{
    width: 100%;
    height: 100%;
}
ul{
    background:url(https://www.dmoe.cc/random.php);/*填满缝隙*/
    position: relative;
}
li{
    list-style: none;
    position: absolute;
}
/*主要代码*/
.li0{
    background: url(https://www.dmoe.cc/random.php) no-repeat top;
    background-size: contain;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
